@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap");
/* NORMALIZADOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: anywhere; }

/* estilo general del cuerpo */
html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  word-spacing: 0.3em;
  letter-spacing: 0.09em;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 720px; }

body {
  display: grid;
  grid-template-areas: "header" "carousel" "main" "footer";
  grid-template-rows: auto auto auto 10vh; }

.navbar {
  list-style: none;
  column-gap: 1rem; }
  .navbar li a {
    font-size: 1em;
    color: #ffffee;
    text-decoration: none;
    padding: 2rem; }
    .navbar li a:hover {
      background-color: #4a27a1; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto; }

.container-2 {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.carousel-1 {
  grid-area: carousel;
  height: 40vh;
  min-height: 250px;
  background-image: url(../public/IMG_20180828_155439860_BURST000_COVER_TOP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; }

.title2 {
  color: #4a27a1; }

p {
  text-align: justify; }

.readMore, .readLess {
  text-decoration: underline;
  color: #4a27a1;
  cursor: pointer; }

.readMore-1 {
  display: none; }

/*  
    & .maincontainer {
        grid-area: main;
        position: absolute;
        width: 250px;
        height: 320px;

        & .card {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 0.8s ease;
            & .front {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
               // background-color: green;

            }
            & .back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                //background-color: purple;
                transform: rotateY(180deg);
            }
            
        }
        & .flipCard {
            transform: rotateY(180deg);
        }
    }*/
/* Estilo del site */
header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: #1f0561;
  color: #ffffee;
  height: 5vh;
  min-height: 2rem; }
  header .inside {
    justify-content: space-between; }
    header .inside .logo {
      margin-left: 2rem;
      width: 5vh;
      height: 5vh;
      background-image: url(../public/CV.png);
      background-size: cover; }
      header .inside .logo a {
        display: block;
        width: 5vh;
        height: 5vh; }

.menu {
  display: flex;
  margin-right: 2rem;
  align-items: center; }

main div .candidateName {
  color: #ffffee;
  margin-left: 2rem;
  letter-spacing: 0.3em; }

main div .candidatePhoto {
  position: relative;
  top: -90%;
  left: 11%;
  background-image: url(../public/IMG_20181029_0829291092.jpg);
  height: 20vh;
  width: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position: center; }

main {
  grid-area: main; }
  main section {
    font-size: 1.6em;
    padding: 0 1rem; }
  main .mainDiv {
    position: sticky;
    top: 16vh; }
  main .navbar-2 {
    background-color: #1f0561;
    height: 5vh;
    min-height: 40px;
    align-items: center;
    justify-content: space-between; }
    main .navbar-2 .mainNav {
      justify-content: right; }
  main .firstSection {
    padding: 4vh 0 4vh 0;
    background-color: #ffffee; }
    main .firstSection .presentation {
      padding: 2rem;
      box-shadow: 3px 3px 3px #4a27a1;
      border-radius: 1rem; }
    main .firstSection .imgPresent {
      flex: 0 0 auto;
      background-image: url(../public/IMG_20180208_124604341.jpg);
      width: 35%;
      min-height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center; }
    main .firstSection .presDiv {
      padding-left: 3rem; }
    main .firstSection .plusParagraph {
      display: none; }
    main .firstSection .plusParagraph1 {
      display: inline; }
  main .educationDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "img1 text1" "img2 text2" "img3 text3" "img4 text4";
    row-gap: 2rem;
    column-gap: 2rem; }
    main .educationDiv h2 {
      margin-bottom: 1rem; }
    main .educationDiv .imgEd {
      grid-area: img1;
      background-image: url(../public/jscertif.jpg);
      background-size: 75%;
      background-repeat: no-repeat;
      background-position-x: center;
      height: 22vh; }
    main .educationDiv .edDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem;
      grid-area: text1; }
    main .educationDiv .imgEd2 {
      grid-area: img2;
      background-image: url(../public/dwcertif.jpg);
      background-size: 75%;
      background-repeat: no-repeat;
      background-position-x: center;
      height: 22vh; }
    main .educationDiv .edDiv2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem;
      grid-area: text2; }
    main .educationDiv .imgEd3 {
      grid-area: img3; }
    main .educationDiv .edDiv3 {
      grid-area: text3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem; }
    main .educationDiv .edDiv4 {
      grid-area: text4;
      padding: 2rem; }
      main .educationDiv .edDiv4 .meter {
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0; }
        main .educationDiv .edDiv4 .meter h4 {
          align-self: center;
          display: inline; }
        main .educationDiv .edDiv4 .meter span {
          display: inline;
          height: 100%;
          background-size: contain;
          background-repeat: repeat-x;
          border-radius: 2rem 0 0 2rem; }
        main .educationDiv .edDiv4 .meter .meter1 {
          width: 90%;
          background-image: url(../public/es.webp); }
        main .educationDiv .edDiv4 .meter .meter2 {
          width: 70%;
          background-image: url(../public/gb.webp); }
        main .educationDiv .edDiv4 .meter .meter3 {
          width: 25%;
          background-image: url(../public/br.webp); }
  main .experienceDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1 text1" "img2 text2" "img3 text3";
    row-gap: 2rem;
    column-gap: 2rem; }
    main .experienceDiv .expDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem; }
    main .experienceDiv #expDiv1 {
      grid-area: text1; }
    main .experienceDiv #expDiv2 {
      grid-area: text2; }
    main .experienceDiv #expDiv3 {
      grid-area: text3; }
