<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual CV</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
        <!-- Inicio Header con navbar -->
        <header>
            
                 <div class="container inside flex-row" id="projectHeader">
                     <div class="logo"> </div>
                     <div class="menu">
                         <ul class="navbar flex-row">
                             <li><a href="project.html">PROYECTO CV</a></li>
                             <li><a href="">ARCHIVO PDF</a></li>
                             <li><a href="">FEEDBACK</a></li>
                             <li><a href="">CONTACTO</a></li>
                        </ul>
                    </div>
                </div>   
               
        </header>
        <section class="carousel-1" id="carousel">

        </section>
        <main>
            <div class="navbar-2 flex-row mainDiv" id="mainHeader">
                <div class="container navbar-2 flex-row">
                    <div class="candidateName" id="candidate1">
                        <h2>Isaias Benjamin Cuello</h2>
                        <p>Web Developer</p>
                    </div>
                    <div class="candidatePhoto">
                        
                    </div>
                    
                    <nav class="menu mainNav flex-row" id="mainNavbar">
                        <ul class="navbar flex-row">
                            <li><a href="">EDUCACION</a></li>
                            <li><a href="">EXPERIENCIA</a></li>
                            <li><a href="">SOBRE MI</a></li>
                            <li><a href="">REFERENCIAS</a></li>
                            <li><a href="">MEDIA</a></li>
                        </ul>
                    </nav>                 
                </div>
            </div>
            <section class="firstSection" id="firstSection">
                <div class="presentation container-2 flex-row" id="presentation1">
                    <div class="imgPresent" id="imgPresent"></div>
                    <div class="presDiv" id="presDiv1">
                        <h2 class="title2" id="titlePres">Bienvenido!</h2>
                        <p>Hola! Soy Isaías Benjamín Cuello. En esta web encontrará mi hoja de vida, de forma ordenada y amigable. Podrá conocer las características que a usted le interesen, laborales y personales, e incluso dejar un comentario o un feedback.
                        Mi objetivo laboral en este momento es iniciar mi camino en la Tecnología de la Información. 
                        <a href="" id="readMore">...[leer más]</a></p>
                        <p id="plusText">Actualmente soy estudiante de la carrera Full Stack Developer en Coderhouse, habiendo ya completado Web Developing y próximo a completar Javascript. Para marzo 2022 habré completado ReactJS, y en agosto finalizaría BackEnd. Además, estoy realizando cursos complementarios de WordPress, PHP y SQL. En mediano plazo, mi objetivo es encarar la carrera Data Science.
                            Soy una persona de metas y a lo largo de mi vida laboral me he caracterizado por una esencial orientación a resultados. Trabajo cada día para ser quien se recurre en busca de soluciones; accesible y comprometida. 
                            Me gusta la transparencia como valor fundamental, el servicio y el ejemplo como formas de liderazgo, y la constante capacitación, adaptabilidad e intercambio de ideas para el crecimiento personal y profesional.
                            Tengo fuertes vínculos con mis amigos y mi familia, me gusta compartir tiempo de calidad con ellos, y considero que gran parte de quien soy y quien trabajo por ser, es gracias a ellos.
                            En los entornos laborales me gusta llevar a la práctica mis conocimientos, mejorar con la práctica, y aprender del conocimiento de otros. Me desempeño sin problemas en ámbitos de presión, y suelo trabajar con plazos y deadlines.
                            Habiéndome presentado, le invito a conocer más sobre mi navegando esta web.
                            Gracias! <a href="" id="readLess">...[leer menos]</a>
                        </p>
                    </div>
                </div>
            </section>

        </main>
        <footer>

        </footer>
    
</body>
</html>