/* Estilos de home */

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    color: $back-letter;
    & .logo{
        margin-left: 2rem;
        width: 10vh;
        height: auto;
        background-image: url(../public/CV.png);
        background-size: cover;
        & a{
            display: block;
            width: 10vh;
            height: 10vh;
        }
    }
    & .menu{
        display: flex;
        margin-right: 2rem;
        align-items: center;
    }
    & .navbar {
        display: flex;
        flex-direction: row; 
        list-style: none;
        column-gap: 1rem;
        & li{
  
            & a {
                font-size: 2rem;
                color: $back-letter;
                text-decoration: none;   
                padding: 2rem; 
                &:hover {
                    background-color: $secondary;
                }
            }
              
        } 
  
    }
}


.shadows{
    box-shadow: 0.6rem 0.6rem 0.6rem $third;
    border-radius: 1rem;
}

aside{
    margin: 1rem;
    grid-area: aside;
    height: 100%;
    & .candidate{
        display: flex;
        flex-direction: column;
        padding: 2rem;

        & #candidatePhoto img {
            max-height: 25vh;
        }

        & .candidateData {
            margin-top: 2rem;
            font-size: 1.5em;
            & h2 {
                color: $primary;
                text-align: center;
            }
            & ul {
                margin-top: 2rem;
                line-height: 3rem;
                text-align: center;
                list-style: none;
            }
        }
        .actionButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            & button{
                padding: 1rem 2rem;
                color: $back-letter;
                background-color: $primary;
                border: none;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px $third;
                font-size: 1.8em;
            }
        }
    }
    /* & .front  {
        position: absolute;
    }
    & .back {
        position: relative;
    }
 */
}

main{
    margin: 1rem;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 auto);
    grid-gap: 1rem;
    & article{
        padding: 1rem;
        height: 40vh;
        min-height: 250px;
    }

}

footer{
    grid-area: footer;
    background-color: $primary;
}


